<section class="about-us" id="about-us">
    <div class="container">
        <div class="container-about-us">
            <div class="about-wrap">
                <h2 class="about-us-title">About Us</h2>
                <p class="about-us-text">
                    Welcome to our premium watch collection, where luxury and style meet
                    functionality and precision. Our selection of timepieces embodies the
                    very best in Swiss craftsmanship and engineering, ensuring that you'll
                    always have a reliable and stylish accessory on your wrist.
                </p>
                <p class="about-us-text">
                    At our premium watch collection, we believe that a watch is more than
                    just a timekeeping device – it's a statement piece that reflects your
                    personality and style. So why settle for anything less than the best?
                </p>
                <a class="about-btn-us" href="#catalog">View catalog</a>
            </div>

            <picture class="about-image">
                <source srcset="
            ./images/about-us-images/aboutdesktop1x-min.png 1x,
            ./images/about-us-images/aboutdesktop2x-min.png 2x
          " media="(min-width: 1280px)" />
                <source srcset="
            ./images/about-us-images/abouttab1x-min.png 1x,
            ./images/about-us-images/abouttab2x-min.png 2x
          " media="(min-width: 768px)" />
                <source srcset="
            ./images/about-us-images/aboutmob1x-min.png 1x,
            ./images/about-us-images/aboutmob2x-min.png 2x
          " media="(max-width: 767px)" />
                <img src="./images/about-us-images/abouttab1x-min.png" alt="Watch" />
            </picture>
        </div>
    </div>
</section>
