<section class="catalog">
    <div class="catalog-container">
        <h3 class="catalog-title">Catalog</h3>
        <ul class="catalog-list">
            <li class="catalog-item">
                <picture class="catalog-img">
                    <source
                        srcset="./images/catalog-images/imagedkt-fenix.png 1x, 
                        ./images/catalog-images/imagedkt-fenix-1.png 2x "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagetb-fenix.png 1x, 
                        ./images/catalog-images/imagetb-fenix-1.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagemob-fenix.png 1x, 
                        ./images/catalog-images/imagemob-fenix-1.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        class="img"
                        src="./images/catalog-images/imagemob-fenix.png"
                        alt="Garmin Fenix 7X Pro Sapphire Solar "
                    />
                </picture>
                <h4 class="name-clock">Garmin Fenix 7X Pro Sapphire Solar</h4>
                <p class="price-clock">€500</p>
            </li>
            <li class="catalog-item">
                <picture class="catalog-img">
                    <source
                        srcset="./images/catalog-images/imagedkt-marq.png 1x, 
                        ./images/catalog-images/imagedkt-marq-1.png 2x "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagetb-marq.png 1x, 
                        ./images/catalog-images/imagetb-marq-1.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source 
                        srcset="./images/catalog-images/imagemob-marq.png 1x, 
                        ./images/catalog-images/imagemob-marq-1.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        class="img"
                        src="./images/catalog-images/imagemob-marq.png"
                        alt="Garmin Marq Athlete"
                    />
                </picture>
                <h4 class="name-clock">Garmin Marq Athlete</h4>
                <p class="price-clock">€450</p>
            </li>
            <li class="catalog-item">
                <picture class="catalog-img">
                    <source
                        srcset="./images/catalog-images/imagedkt-descent.png 1x, 
                        ./images/catalog-images/imagedkt-descent-1.png 2x "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagetb-descent.png 1x, 
                        ./images/catalog-images/imagetb-descent-1.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagemob-descent.png 1x, 
                        ./images/catalog-images/imagemob-descent-1.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        class="img"
                        src="./images/catalog-images/imagemob-descent.png"
                        alt="Garmin Descent MK1"
                    />
                </picture>
                <h4 class="name-clock">Garmin Descent MK1</h4>
                <p class="price-clock">€680</p>
            </li>
            <li class="catalog-item">
                
                <picture class="catalog-img">
                    <source
                        srcset="./images/catalog-images/imagedkt-d2.png 1x, 
                        ./images/catalog-images/imagedkt-d2-1.png 2x "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagetb-d2.png 1x, 
                        ./images/catalog-images/imagetb-d2-1.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagemob-d2.png 1x, 
                        ./images/catalog-images/imagemob-d2-1.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        class="img"
                        src="./images/catalog-images/imagemob-d2.png"
                        alt="Garmin D2 Delta PX"
                    />
                </picture>
                <h4 class="name-clock">Garmin D2 Delta PX</h4>
                <p class="price-clock">€380</p>
            </li>
            <li class="catalog-item">
                <picture class="catalog-img">
                    <source
                        srcset="./images/catalog-images/imagedkt-fenix6.png 1x, 
                        ./images/catalog-images/imagedkt-fenix6-1.png 2x "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagetb-fenix6.png 1x, 
                        ./images/catalog-images/imagetb-fenix6-1.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagemob-fenix6.png 1x, 
                        ./images/catalog-images/imagemob-fenix6-1.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        class="img"
                        src="./images/catalog-images/imagemob-fenix6.png"
                        alt="Garmin Fenix 6 Pro Solar"
                    />
                </picture>
                <h4 class="name-clock">Garmin Fenix 6 Pro Solar</h4>
                <p class="price-clock">€400</p>  
            </li>
            <li class="catalog-item ">
                <picture class="catalog-img">
                    <source
                        srcset="./images/catalog-images/imagedkt-watch.png 1x, 
                        ./images/catalog-images/imagedkt-watch-1.png 2x "
                        media="(min-width: 1280px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagetb-watch.png 1x, 
                        ./images/catalog-images/imagetb-watch-1.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/catalog-images/imagemob-watch.png 1x, 
                        ./images/catalog-images/imagemob-watch-1.png 2x"
                        media="(max-width: 767px)"
                    />
                    <img
                        class="img"
                        src="./images/catalog-images/imagemob-watch.png"
                        alt="Tube Watch S42 Date Steel With Black Case"
                    />
                </picture>
                <h4 class="name-clock">Tube Watch S42 Date Steel With Black Case</h4>
                <p class="price-clock">€395</p>
                
            </li>
               
        </ul>
        <button type="button" class="clock-bt">Show more</button>
       
    </div>

</section>