<section class="catalog">
    <div class="container">
        <h3 class="catalog-title">Catalog</h3>
        <ul class="catalog-list">
            <li class="catalog-item catalog-wrap">
                <div>
                    <picture>
                        <source
                            srcset="./images/catalog-images/dkt-fenix.jpg 1x, 
                            ./images/catalog-images/dkt-fenix-1.jpg 2x "
                    
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="./images/catalog-images/tb-fenix.jpg 1x, 
                            ./images/catalog-images/tb-fenix-1.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="./images/catalog-images/mob-fenix.jpg 1x, 
                            ./images/catalog-images/mob-fenix-1.jpg 2x"
                
                            media="(max-width: 767px)"
                        />
                        <img
                            class="img"
                            src="./images/catalog-images/mob-fenix.jpg"
                            alt="Garmin Fenix 7X Pro Sapphire Solar "
                        />

                    </picture>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source
                            srcset="./images/catalog-images/dkt-marq.jpg 1x, 
                            ./images/catalog-images/dkt-marq-1.jpg 2x "
                    
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="./images/catalog-images/tb-marq.jpg 1x, 
                            ./images/catalog-images/tb-marq-1.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="./images/catalog-images/mob-marq.jpg 1x, 
                            ./images/catalog-images/mob-marq-1.jpg 2x"
                
                            media="(max-width: 767px)"
                        />
                        <img
                            class="img"
                            src="./images/catalog-images/mob-marq.jpg"
                            alt="Garmin Marq Athlete"
                        />

                    </picture>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source
                            srcset="./images/catalog-images/dkt-descent.jpg 1x, 
                            ./images/catalog-images/dkt-descent-1.jpg 2x "
                             media="(min-width: 1280px)"
                        />
                        <source
                            srcset="./images/catalog-images/tb-descent.jpg 1x, 
                            ./images/catalog-images/tb-descent-1.jpg 2x"
                            media="(min-width: 768px)"
                         />
                        <source
                            srcset="./images/catalog-images/mob-descent.jpg 1x, 
                            ./images/catalog-images/mob-descent-1.jpg 2x"
            
                            media="(max-width: 767px)"
                        />
                        <img
                            class="img"
                            src="./images/catalog-images/mob-descent.jpg"
                            alt="Garmin Descent MK1"
                        />

                    </picture>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source
                            srcset="./images/catalog-images/dkt-d2.jpg 1x, 
                            ./images/catalog-images/dkt-d2-1.jpg 2x "
                    
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="./images/catalog-images/tb-d2.jpg 1x, 
                            ./images/catalog-images/tb-d2-1.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="./images/catalog-images/mob-d2.jpg 1x, 
                            ./images/catalog-images/mob-d2-1.jpg 2x"
                
                            media="(max-width: 767px)"
                        />
                        <img
                            class="img"
                            src="./images/catalog-images/mob-d2.jpg"
                            alt="Garmin D2 Delta PX"
                        />

                    </picture>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source
                            srcset="./images/catalog-images/dkt-fenix6.jpg 1x, 
                            ./images/catalog-images/dkt-fenix6-1.jpg 2x "
                    
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="./images/catalog-images/tb-fenix6.jpg 1x, 
                            ./images/catalog-images/tb-fenix6-1.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="./images/catalog-images/mob-fenix6.jpg 1x, 
                            ./images/catalog-images/mob-fenix6-1.jpg 2x"
                
                            media="(max-width: 767px)"
                        />
                        <img
                            class="img"
                            src="./images/catalog-images/mob-fenix6.jpg"
                            alt="Garmin Fenix 6 Pro Solar"
                        />

                    </picture>
                </div>
            </li>
            <li>
                <div>
                    <picture>
                        <source
                            srcset="./images/catalog-images/dkt-watch.jpg 1x, 
                            ./images/catalog-images/dkt-watch-1.jpg 2x "
                    
                            media="(min-width: 1280px)"
                        />
                        <source
                            srcset="./images/catalog-images/tb-watch.jpg 1x, 
                            ./images/catalog-images/tb-watch-1.jpg 2x"
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="./images/catalog-images/mob-watch.jpg 1x, 
                            ./images/catalog-images/mob-watch-1.jpg 2x"
                
                            media="(max-width: 767px)"
                        />
                        <img
                            class="img"
                            src="./images/catalog-images/mob-watch.jpg"
                            alt="Tube Watch S42 Date Steel With Black Case"
                        />

                    </picture>
                </div>
            </li>
               
        </ul>
       
    </div>
</section>