
<section class="hero">
  <div class="hero-container">
    <div class="hero-tablet-container cort">
<section class="hero" id="hero">
  <div class="hero-container">
    <div class="hero-tablet-container">

      <div class="hero-title-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-small-container">
        <img
          src="./images/project-hero2.png"
      <div class="hero-small-container r">
        <img
          srcset="
            ./images/hero-images/image-back.jpg 1x,
            ./images/hero-images/image-back-2x  2x
          "
          src="./images/hero-images/new-triple.png"
          alt="Members of company"
          class="hero-image-team"
        />
        <a href="#footer" class="hero-link">Scroll Down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="./images/project-hero.jpg 1x, ./images/hero-back-2x.jpg 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/hero-back-tab.jpg 1x, ./images/hero-tab-2x.jpg 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="./images/hero-mob.jpg 1x, ./images/hero-mob-2x.jpg 2x"
        media="(max-width:767px)"
      />
      <img
        src="./images/hero-mob.jpg"
        srcset="
          ./images/hero-images/project-hero_new.jpg     1x,
          ./images/hero-images/hero-back-2x_720.new.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/hero-images/hero-back-tab_480.jpg 1x,
          ./images/hero-images/hero-tab-2x_720.jpg   2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero-images/hero-mob_360.jpg    1x,
          ./images/hero-images/hero-mob-2x_720.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero-images/hero-mob_360.jpg"
        alt="Products of company"
        class="hero-background"
      />
    </picture>
  </div>
</section>
