<section class="sale" id="sale">
  <div class="sale-container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrap">
      <div class="gallery-wrap">
        <div class="sale-gallery">
          <div class="sale-gallery-mini">
            <picture class="sale-gallery-image">
              <source srcset="./images/sale-images/miniwatch-1.png 1x, ./images/sale-images/miniwatch-1-2x.png 2x" media="(min-width: 768px)">
              <source srcset="./images/sale-images/miniwatch-1-mob.png 1x, ./images/sale-images/miniwatch-1-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./images/sale-images/miniwatch-1.png" alt="Watch on sale">
            </picture>
          </div>
          <div class="sale-gallery-mini">
            <picture class="sale-gallery-image">
              <source srcset="./images/sale-images/miniwatch-2.png 1x, ./images/sale-images/miniwatch-2-2x.png 2x" media="(min-width: 768px)">
              <source srcset="./images/sale-images/miniwatch-2-mob.png 1x, ./images/sale-images/miniwatch-2-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./images/sale-images/miniwatch-2.png" alt="Watch on sale">
            </picture>
          </div>
          <div class="sale-gallery-mini">
            <picture class="sale-gallery-image">
              <source srcset="./images/sale-images/miniwatch-3.png 1x, ./images/sale-images/miniwatch-3-2x.png 2x" media="(min-width: 768px)">
              <source srcset="./images/sale-images/miniwatch-3-mob.png 1x, ./images/sale-images/miniwatch-3-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./images/sale-images/miniwatch-3.png" alt="Watch on sale">
            </picture>
          </div>
          <div class="sale-gallery-mini">
            <picture class="sale-gallery-image">
              <source srcset="./images/sale-images/miniwatch-4.png 1x, ./images/sale-images/miniwatch-4-2x.png 2x" media="(min-width: 768px)">
              <source srcset="./images/sale-images/miniwatch-4-mob.png 1x, ./images/sale-images/miniwatch-4-mob-2x.png 2x" media="(max-width: 767px)">
              <img src="./images/sale-images/miniwatch-4.png" alt="Watch on sale">
            </picture>
          </div>
        </div>
        <div class="sale-image-block">
          <picture class="sale-image">
            <source srcset="./images/sale-images/sale-watch.png 1x, ./images/sale-images/sale-watch-2x.png 2x" media="(min-width: 768px)">
            <source srcset="./images/sale-images/sale-watch-mob.png 1x, ./images/sale-images/sale-watch-mob-2x.png 2x" media="(max-width: 767px)">
            <img src="./images/sale-images/sale-watch.png" alt="MARQ® Commander (Gen 2) - Carbon Edition">
          </picture>
        </div>
      </div>
      <div class="sale-card">
        <h3 class="sale-card-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="sale-card-number">Product tag: 706587</p>
        <div class="sale-card-prices">
          <div class="sale-card-discount">€1500</div>
          <div class="sale-card-price">€3000</div>
        </div>
        <p class="sale-card-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. 
        </p>
        <ul class="sale-card-filters">
          <li class="sale-card-filter">
            <a href="#" class="filter-link">Fused carbon fiber</a>
          </li>
          <li class="sale-card-filter">
            <a href="#" class="filter-link">Grade-5 Titanuim</a>
          </li>
          <li class="sale-card-filter">
            <a href="#" class="filter-link">Athlete</a>
          </li>
          <li class="sale-card-filter">
            <a href="#" class="filter-link">Golfer</a>
          </li>
          <li class="sale-card-filter">
            <a href="#" class="filter-link">Commander</a>
          </li>
          <li class="sale-card-filter">
            <a href="#" class="filter-link">Adventurer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>