.contact-us-section {
  padding: 30px 0px;
}

.contact-wrapper {
  width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.contact-header {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
/* .container {
} */
.contact-text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.contact-form {
  padding: 48px 28px;
  border-radius: 30px;
  padding: 48px 28px;
  width: 335px;
  height: 512px;
  background: #f3f3f3;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact-input {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
  margin-bottom: 18px;
  outline: transparent;
  background-color: transparent;
  width: 279px;
  height: 42px;
}

.contact-input.name {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
}

.contact-input.email {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
}

.contact-input.tel {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
}

.contact-input:focus,
.contact-input:hover,
.contact-input:active {
  border: 1px solid #3350e9;
}

.contact-input::placeholder {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}

.contact-textarea {
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  width: 279px;
  height: 84px;
  resize: none;
  margin-bottom: 28px;
  outline: transparent;
  background-color: transparent;
}

.contact-textarea:focus,
.contact-textarea:hover,
.contact-textarea:active {
  border: 1px solid #3350e9;
}

.contact-textarea::placeholder {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}
.contact-button {
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  background: #3350e9;
  border: none;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  outline: transparent;
}

.contact-button:hover,
.contact-button:focus,
.contact-button:active {
  background: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .contact-us-section {
    padding: 40px 0;
  }

  .contact-wrapper {
    width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .contact-header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
  }

  .contact-form {
    border-radius: 50px;
    padding: 50px 122px;
    width: 704px;
    height: 556px;
    /* padding: 50px auto; */
    flex-direction: column;
    margin-bottom: 40px;
  }

  .contact-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 32px;
  }

  .contact-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 16px 18px;
    width: 460px;
    height: 52px;
  }

  .contact-input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0c0c;
  }

  .contact-textarea {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 16px;
    width: 460px;
    height: 90px;
    margin-bottom: 32px;
  }

  .contact-textarea::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0c0c;
  }

  .contact-button {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-us-section {
    padding: 50px 0px;
  }

  .contact-wrapper {
    width: 1280px;
    padding: 0px 65px;
  }

  .contact-header {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }

  .contact-form {
    border-radius: 50px;
    width: 580px;
    height: 556px;
    padding: 50px 60px;
    margin: 0px;
    margin-right: 40px;
  }

  .contact-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

  .contact-input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 16px 18px;
    width: 460px;
    height: 52px;
  }

  .contact-input::placeholder {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0c0c;
  }

  .contact-textarea {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 16px;
    width: 460px;
    height: 90px;
  }

  .contact-button {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }

  .contact-wrapper > div {
    display: flex;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .contact-wrapper {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}
