.footer {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    }

.footer-container {
    background: #0c0c0c;
    padding-top: 40px;
    padding-right: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    border-radius: 30px;
}

.footer-sic { 
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #fbfbfb;
display: block;
margin-bottom: 20px;
width: 90px;
height: 19px;
}

.icon-footer {
    display: flex;
    gap: 10px;
}

.footer-list {
    width: 34px;
    height: 34px;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
}

.icon-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon-icon-footer {
    fill: rgba(251, 251, 251, 0.8);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    border: 1px solid rgba(51, 80, 233, 0.1);
    cursor: pointer;
    border-radius: 10px;
}

.icon-link-footer:hover>.icon-icon-footer,
.icon-link-footer:focus>.icon-icon-footer {
    fill: #fbfbfb;
}

.wrap-wrap-footer {
    display: none;
}

.tel-footer {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 152px;
    height: 44px;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}

.footer-text-item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-top: 40px;
    margin-bottom: 92px;
}

.footer-item {
    display: flex;
    gap: 8px 16px;
    max-width: 147px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    margin-right: auto;
}

.footer-list-item {
}

.footer-link-list {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: #fbfbfb;
}

.footer-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #fbfbfb;
    max-width: 83px;
    margin-left: auto;
}

.footer-line {
    stroke-width: 1px;
    stroke: rgba(251, 251, 251, 0.1);
}

.footer-text-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-top: 24px;
    margin-bottom: 8px;
}

.footer-item-item {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: left;
}

.footer-container-item{
    display: flex;
}

.footer-list-list {}

.footer-link-item {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

@media screen and (min-width:768px) {
.container-icon-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.footer-sic {
    font-size: 20px;
}
.footer-list {
    width: 36px;
    height: 36px;
}
.tel-footer {
    width: 160px;
    height: 48px;
    font-size: 14px;
    line-height: 1.28;
    margin: unset;
}
.footer-text-item {
    font-size: 28px;
    line-height: 1.14;
    margin-top: 86px;
    margin-bottom: 100px;
    margin: 0 auto;
    width: 524px;
}
.footer-container-item {
    margin-top: 100px;
    margin-bottom: 28px;
}
.footer-item {
    flex-wrap: nowrap;
    gap: 19px;
    max-width: 400px;
}
.footer-link-list {
    font-size: 14px;
    line-height: 1.28;
}
.footer-text {
    font-size: 14px;
    line-height: 1.28;
    max-width: 162px;
}
.footer-link-item {
    font-size: 14px;
    line-height: 1.28;
}
.footer-container-text {
    margin-top: 28px;
}
.footer-text-text {
    font-size: 14px;
    line-height: 1.28;
    margin: 0;
}
.footer-container-text {
    display: flex;
    justify-content: space-between;
}
}

@media screen and (min-width:1280px) {
    .footer-text-item {
        display: none;
    }
    .wrap-wrap-footer {
        display: block;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.14286;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fbfbfb;
        width: 523px;
    }
    .container-icon-icon {
    display: flex;
    }
.footer-item {
    max-width: 505px;
    gap: 40px;
}
.footer-text-item {
    margin-bottom: 126px;
}
}